
@using KeysShop.Core
@model KeysShop.Repository.Dto.KeyCreateDto
@{
    var brands = ViewBag.Brands as IEnumerable<Brand>;
    Layout = "~/Views/Shared/_BreezeLayout.cshtml";
}
<div class="card">
    <div class="card-body">
        <h4>@Html.DisplayFor(model => model.Name)</h4>
        <form class="forms-sample">
            <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label"> @Html.DisplayNameFor(model => model.Id)</label>
                <div class="col-sm-9">
                    <label for="exampleInputUsername2" class="col-form-label"> @Html.DisplayFor(model => model.Id)</label>
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputEmail2" class="col-sm-3 col-form-label"> @Html.DisplayNameFor(model => model.Name)</label>
                <div class="col-sm-9">
                    <label for="exampleInputUsername2" class="col-form-label">  @Html.DisplayFor(model => model.Name)</label>
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputMobile" class="col-sm-3 col-form-label">@Html.DisplayNameFor(model => model.Description)</label>
                <div class="col-sm-9">
                    <label for="exampleInputUsername2" class="col-form-label">  @Html.DisplayFor(model => model.Description)</label>
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputPassword2" class="col-sm-3 col-form-label">@Html.DisplayNameFor(model => model.Price)</label>
                <div class="col-sm-9">
                    <label for="exampleInputPassword2" class=" col-form-label">@Html.DisplayFor(model => model.Price)</label>
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label">@Html.DisplayNameFor(model => model.Sale)</label>
                <div class="col-sm-9">
                    <label for="exampleInputConfirmPassword2" class=" col-form-label">@Html.DisplayFor(model => model.Sale)</label>
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label">@Html.DisplayNameFor(model => model.Frequency)</label>
                <div class="col-sm-9">
                    <label for="exampleInputConfirmPassword2" class=" col-form-label">@Html.DisplayFor(model => model.Frequency)</label>
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label"> @Html.DisplayNameFor(model => model.Count)</label>
                <div class="col-sm-9">
                    <label for="exampleInputConfirmPassword2" class=" col-form-label"> @Html.DisplayFor(model => model.Count)</label>
                </div>
            </div>
        <dd class="col-sm-10">
            <div class="col-2"></div>
            <img class="img-fluid" style=" display: block;" src="/@Model.ImgPath" alt="@Model.Name">
        </dd>
        <div class="col-md-6">
            <div class="form-group row">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsOriginal" /> @Html.DisplayNameFor(model => model.IsOriginal)
                        <i class="input-helper"></i>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsKeyless" /> @Html.DisplayNameFor(model => model.IsKeyless)
                        <i class="input-helper"></i>
                    </label>
                </div>
            </div>
        </div>
            <div class="form-group row">
                <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label">  @Html.DisplayNameFor(model => model.Brand)</label>
                <div class="col-sm-9">
                    <label for="exampleInputConfirmPassword2" class=" col-form-label">  @Html.DisplayFor(model => model.Brand)</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mr-2"> Submit </button>
            <button class="btn btn-light">Cancel</button>
        </form>
    </div>
</div>
@*<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Frequency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Frequency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Count)
        </dd>
        <dt class = "col-sm-2">
            Image
        </dt>
        <dd class = "col-sm-10">
            <div class="col-2"></div>
            <img class="img-fluid" style=" display: block;" src="/@Model.ImgPath" alt="@Model.Name">
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOriginal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOriginal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsKeyless)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsKeyless)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
    </dl>
</div>*@
@*<div>
    @if (@User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }|
    <a asp-action="Index">Back to List</a>
</div>*@
