
@{
    Layout = "~/Views/Shared/_BreezeLayout.cshtml";
    double? totalsum = 0;
}

@using KeysShop.Repository;
@using KeysShop.Core;
@inject IHttpContextAccessor Accessor




<section class="vh-100" style="background-color: #fdccbc;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <p><span class="h2">Cart Page </span><span class="h4"></span></p>

                <div class="card mb-4">
                    <div class="card-body p-4">
                        @foreach (CartItem item in Accessor.HttpContext.Session.GetObject<List<CartItem>>("cart"))
                        {

                                    <div class="row align-items-center">
                                        <div class="col-md-2">
                                                <img src="@item.Key.ImgPath"
                                         class="img-fluid" alt="Generic placeholder image">
                                        </div>
                                    <div class="col-md-2 d-flex justify-content-center">
                                        <div>
                                            <p class="small text-muted mb-4 pb-2">Id</p>
                                            <p class="lead fw-normal mb-0">
                                                <td>@item.Key.Id</td>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-2 d-flex justify-content-center">
                                        <div>
                                            <p class="small text-muted mb-4 pb-2">Name</p>
                                            <p class="lead fw-normal mb-0"><td>@item.Key.Name</td></p>
                                        </div>
                                    </div>
                                    <div class="col-md-2 d-flex justify-content-center">
                                        <div>
                                            <p class="small text-muted mb-4 pb-2">Price</p>
                                            <p class="lead fw-normal mb-0"> <td>@item.Key.Price</td></p>
                                        </div>
                                    </div>
                                    <div class="col-md-2 d-flex justify-content-center">
                                        <div>
                                            <p class="small text-muted mb-4 pb-2">Quantity</p>
                                            <p class="lead fw-normal mb-0"><td>@item.Quantity</td></p>
                                        </div>
                                    </div>
                                    <div class="col-md-2 d-flex justify-content-center">
                                    <a class="btn btn-primary" asp-controller="Cart" asp-action="Remove" asp-route-id="@item.Key.Id">Видалити</a>
                                    </div>

    <div class="col-md-2 d-flex justify-content-center">
                                    <div>
                                        <p class="small text-muted mb-4 pb-2">Total</p>
                                            <p class="lead fw-normal mb-0"> <td>@(item.Key.Price * item.Quantity)</td></p>
                                    </div>
                                </div>
                            </div>      
                        }

                        </div>
                        </div>                
                <div class="card mb-5">
                    <div class="card-body p-4">
                        @foreach (CartItem item in Accessor.HttpContext.Session.GetObject<List<CartItem>>("cart"))
                        {
                                    <span type="hidden" style="font-size: 0; position:absolute">@(@totalsum
                                      += @item.Key.Price * @item.Quantity)</span>
                        }
                        <div class="float-end">
                            <p class="mb-0 me-5 d-flex align-items-center">
                                 <span class="lead fw-normal"><td>Сума замовлення: @totalsum</td></span>
                            </p>
                        </div>
                    </div>
                </div>


                <div class="d-flex justify-content-end">

                    <a type="button" class="btn btn-light btn-lg me-2" asp-controller="Key" asp-action="Index">Continue Shopping</a>
                    <a type="button" class="btn btn-primary btn-lg" asp-controller="Order" asp-action="Checkout">Замовити</a>

                </div>

            </div>
        </div>
    </div>
</section>